{% extends 'BenskiReservationBundle:SejourReserve:layout.html.twig' %}
{% block body -%}
    <h1>SejourReserve list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reservation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sejourreserve_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.reservation }}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sejourreserve_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sejourreserve_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sejourreserve_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
