{% extends  'WalvaCrudAdminBundle:Crud:show.html.twig' %}

{% block crud_table_body -%}
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>{{ entity.header }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Editiondate</th>
                <td>{{ entity.editionDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Internalname</th>
                <td>{{ entity.internalName }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ entity.keywords }}</td>
            </tr>
{% endblock %}
