{% extends  "::admin.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">AdSite</li>
{% endblock %}


{% block header %}
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
        <h1>{% block header_title %}Régie publicitaire{% endblock %}</h1>
        <p>{% block header_subtitle %}An overview of Bootstrap, how to download and use, basic templates and examples, and more.{% endblock %}</p>
        </div>
        <div class="col-sm-6 haf" style="">

            <div class="list-group haf">
                <a class="list-group-item" href="{{ path('adsite_campagne') }}"><span class="glyphicon glyphicon-bullhorn"></span>
                    Campagne
                    <div class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </a>
                <a class="list-group-item" href="{{ path('format') }}"><span class="glyphicon glyphicon-fullscreen"></span>
                    Format
                    <div class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </a>

                <a href="{{ path('adsite_ads') }}" class="list-group-item"><span class="glyphicon glyphicon-pushpin"></span>
                    Ads
                    <div class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </a>
                <a href="{{ path('space') }}" class="list-group-item"><span class="glyphicon glyphicon-comment"></span>
                    Space
                    <div class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}