<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Benski{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/public_v2.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bs3/css/bootstrap.min.css') }}" type="text/css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">#}
    {% endblock %}
</head>

<body>

<div style="position: absolute; top:0px; padding: 10px; z-index: 5; width: 100%;">
    <div class="pull-left">
        <a class="btn btn-link" style="font-size: 16px; font-weight: bold; color: #000000;">
            Benski
        </a>
    </div>
    <div class="pull-right">
        <a class="btn btn-link" href="#" style="color: #ffffff; font-size: 14px;">
            <i class="fa fa-pencil"></i>
            S'inscrire
        </a>
        <a class="btn btn-link" href="#" style="color: #ffffff; font-size: 14px;">
            <i class="fa fa-lock"></i>
            Se connecter
        </a>
        <a class="btn btn-link" href="#" style="color: #ffffff; font-size: 14px;">
            <i class="fa fa-paper-plane"></i>
            Contact
        </a>
        <a class="btn btn-link" href="#" style="color: #ffffff; font-size: 14px;">
            <i class="fa fa-globe"></i>
            FR
            <i class="fa fa-caret-down" style="color: white"></i>
        </a>
    </div>

</div>

<div id="hero" style="height: 460px;
        position: relative;
        color: white;
        overflow: hidden;
        ">
    <div class="homepage_hero_unit_background_container" style="padding-top: 80px;
        ">
        <img class="homepage_hero_unit_background js_delayed_image"
             src="{{ asset('img/background3.png') }}" class="" style="
                position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-height: 460px;
            min-width: 900px;">

        <div style="position: absolute;
                    z-index: 3;
                    width: 100%;">
            <div class="container">
                <div class="col-xs-12">
                    {% block header %}
                        <h1 id="homepage_title" style="
                        text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
                        color: black;
                        text-transform: uppercase;
                        font-size: 60px;
                        font-weight: 900;
                        text-align: center;
                        ">
                            Des séjours en altitude de qualités pour la famille et les amis
                        </h1>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div style="position: absolute; width: 100%; background-color: rgba(0,102,204, 0.8); min-height: 30px; z-index: 5;bottom: 0;"
             class="text-center">
            <div class="container">
                <div class="col-sm-12">
                    <h4 style="margin: 0px; padding: 10px">
                        <a href="{{ path('catalogue_public_sejour', {'destination':destination.id}) }}" style="color: white">
                            Réservez votre jour à l'avance et profitez de nos prix avantageux!
                            </a>
                        <i class="fa fa-arrow-right"></i>
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>

{% block parent_container %}
    <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="row">
            {% block container %}
                <div class="col-sm-3 ">
                    <h4 style="font-weight: bold"><span class="glyphicon glyphicon-asterisk"></span> Découvez nos
                        services</h4>
                    <hr>
                    <p>
                        {{ "home.text.3.content" |trans|raw }}
                        <a class=""
                           href="{{ path('public_article_slug_content', { 'slug': 'services'}) }}
                   ">
                            En savoir plus
                        </a>
                    </p>


                </div>
                <div class="col-sm-3">
                    <h4 style="font-weight: bold"><span class="glyphicon glyphicon-home"></span> Visitez nos
                        appartements</h4>
                    <hr>
                    <p>
                        {{ "home.text.4.content" |trans|raw }}
                    </p>
                    <a class=""
                       href="{{ path('public_article_slug_content', { 'slug': 'appartements'}) }}
               ">
                        En savoir plus
                    </a>
                </div>
                <div class="col-sm-3">
                    <h4 style="font-weight: bold"><span class="glyphicon glyphicon-calendar"></span> Planifiez vos
                        vacances
                    </h4>
                    <hr>
                    <p>
                        {{ "home.text.5.content" |trans|raw }}


                    </p>
                </div>
                <div class="col-sm-3">
                    <h4 style="font-weight: bold"><span class="glyphicon glyphicon-cloud"></span> Que la neige soit!
                    </h4>
                    <hr>
                    <p>
                        {{ "home.text.6.content" |trans|raw }}

                    </p>
                </div>
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4 style="font-weight: bold"><span class="glyphicon glyphicon-tree-conifer"></span> Maitrisez Risoul
                </h4>
                <hr>
                <img src="{{ asset('img/montagne-graph.jpg') }}" alt="" class="img-thumbnail img-responsive"
                     style="margin-bottom: 10px">
            </div>
            <div class="col-sm-3">
                <h4 style="font-weight: bold"><span class="glyphicon glyphicon-ok"></span> Tout public, vraiment!</h4>
                <hr>
                <p>
                    {{ "home.text.7.content" |trans|raw }}
                </p>
                <ul>
                    <li>18% de pistes pour débutant</li>
                    <li>39% de pistes pour intérmédiaire</li>
                    <li>34% de pistes pour avancé</li>
                    <li>9% de pistes pour expert</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4 style="font-weight: bold"><span class="glyphicon glyphicon-cog"></span> Moderne</h4>
                <hr>
                <p>
                    {{ "home.text.8.content" |trans|raw }}
                </p>

            </div>
        </div>

    </div>
{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-2">
                <h5>Benski</h5>
                <ul class="list-unstyled">
                    <li>L'équipe</li>
                    <li>Le concept</li>
                    <li>Les avantages</li>
                    <li>Nos partenaires</li>
                </ul>
            </div>
            <div class="col-sm-2 ">
                <h5>Nos destinations</h5>
                <ul class="list-unstyled">
                    <li>Risoul</li>
                </ul>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-2  ">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li>Nos appartements</li>
                    <li>Nos options</li>
                    <li>Nos avantages</li>
                </ul>
            </div>
            <div class="col-sm-2 ">
                <h5>Aide</h5>
                <ul class="list-unstyled">
                    <li><i class="icon-book-1"></i>FAQ</li>
                    <li><i class="icon-telephone"></i>Contact</li>
                    <li><i class="icon-fontawesome-webfont-43"></i>Service status</li>
                    <li><i class="icon-traffic-cone"></i>Work in progress</li>
                </ul>
            </div>
        </div>
        <div class="credit">
            <p>© Benski 2014 All Rights Reserved. - Conditions Générales - Design by Benjamin Ellis</p>

            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/walva/functions.js') }}"></script>
{% endblock %}

</body>
</html>