
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-file"></span>
        CMS <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">General</li>
        <li><a href="{{ path("walva_simplecms_block") }}">
                <span class="glyphicon glyphicon-inbox"></span>
                Block
            </a>
        </li>
        <li><a href="{{ path("walva_simplecms_document") }}">
                <span class="glyphicon glyphicon-file"></span>
                File
            </a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Strategy</li>
        <li><a href="{{ path("walva_simplecms_strategy_country") }}">
                <span class="glyphicon glyphicon-folder-open"></span>
                Country
            </a>
        </li>
        <li><a href="{{ path("walva_simplecms_strategy_language") }}">
                <span class="glyphicon glyphicon-folder-open"></span>
                Language
            </a>
        </li>
    </ul>

</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-globe"></span>
        Website <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">Page</li>
        <li><a href="{{ path("page") }}">
                <span class="glyphicon glyphicon-file"></span>
                Page
            </a>
        </li>

    </ul>

</li>