{% extends 'BenskiReservationBundle::public.html.twig' %}
{% import 'BenskiReservationBundle::macro.html.twig' as fo %}




{% block body %}



    <div class="col-sm-12">

    <h1>Votre séjour</h1>

    <hr>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#resume" data-toggle="tab">
                <span class="glyphicon glyphicon-forward"></span> {{ "Résumé"|trans }}
            </a>
        </li>
        <li>
            <a href="#details" data-toggle="tab">
                <span class="glyphicon glyphicon-fullscreen"></span> {{ "Détails"|trans }}
            </a>
        </li>
        <li>
            <a href="#reduction" data-toggle="tab">
                <span class="glyphicon glyphicon-gift"></span> {{ "Réductions"|trans }}
            </a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane active" id="resume">
        <table class="table table-bordered table-responsive" style="margin-top: 20px">
            <tbody>
            <tr>
                <th>{{ "Destination"|trans }}</th>
                <th>{{ "Date"|trans }}</th>
                <th>{{ "Appartement"|trans }}</th>
                <th>{{ "Participants"|trans }}</th>
                <th>{{ "Pack"|trans }}</th>
                <th>{{ "Total"|trans }}</th>
            </tr>
            {% set reservationSejour = entity %}
            {% set sejourReserve = reservationSejour.sejourReserve %}
            {% set destination = sejourReserve.destination %}
            {% set sejour = sejourReserve.sejour %}
            {% for appartementReserve in sejourReserve.appartementsReserves %}
                {% set appartement = appartementReserve.appartement %}
                {% set count = (sejourReserve.appartementsReserves|length) %}

                <tr>

                    {% if loop.first %}
                        <td rowspan="{{ count }}">{{ destination }}
                            <div class="pull-right">
                                {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : destination })) %}
                            </div>
                        </td>
                        <td rowspan="{{ count }}">Du {{ sejour.dateDebut|date("d/m/Y") }}<br>
                            Au {{ sejour.dateFin|date("d/m/Y") }}
                            <div class="pull-right">
                                {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : sejour })) %}
                            </div>
                        </td>
                    {% endif %}

                    <td>{{ appartement.nom }}
                        {{ macro.print_stars(appartement.qualite) }}
                        (<a href="#" class="prixParPersonne">{{ fo.int2prix(appartementReserve.prix) }}€</a>)
                        <div class="pull-right">
                            {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : appartement })) %}
                        </div>
                    </td>
                    <td>{{ appartementReserve.nombrePersonnes }}</td>
                    <td>{{ appartementReserve.packReserve.pack.nom }}
                        {{ macro.print_stars(appartementReserve.packReserve.pack.qualite) }}

                        (<a href="#" class="prixParPersonne">{{ fo.int2prix(appartementReserve.packReserve.pack.prix) }}
                            €</a>)
                        <div class="pull-right">
                            {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : appartementReserve.packReserve.pack })) %}
                        </div>
                    </td>
                    {% if loop.first %}
                        <td rowspan="{{ count }}">{{ fo.int2prix(entity.getTotalApresReduction) }} €</td>
                    {% endif %}
                </tr>
            {% endfor %}


            </tbody>
        </table>

        {% set sejourReserve = entity.sejourReserve %}
        <table class="table table-bordered table-responsive">

            <tbody>
            {% for ar in sejourReserve.appartementsReserves %}
                <tr>
                    <th>{{ ar.appartement.nom }}
                        <small>
                            {% for i in 1..(ar.appartement.qualite) %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </small>
                    </th>
                    <th>Logement</th>
                    <th>Option</th>
                    <th>Total</th>
                </tr>
                {% for participant in ar.participants %}
                    <tr>
                        <td>{{ participant.personne.firstName }} {{ participant.personne.lastName }}</td>
                        <td>{{ fo.int2prix(ar.prix) }} €</td>
                        <td>{{ fo.int2prix(participant.getTotalOptions) }} €</td>
                        <td>{{ fo.int2prix(participant.getTotal) }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Options de groupe</td>
                    <td><strong>{{ fo.int2prix(ar.getTotalOptions()) }} €</strong></td>
                </tr>
                <tr>
                    <td colspan="2">Prix du pack</td>
                    <td>{{ ar.nombrePersonnes }} x
                        {{ fo.int2prix(ar.packReserve.prix) }} €
                    </td>
                    <td><strong> {{ fo.int2prix(ar.packReserve.getTotal) }} €</strong></td>
                </tr>
                <tr class="active">
                    <td colspan="3">Sous total</td>
                    <td><strong>{{ fo.int2prix(ar.getTotal()) }} €</strong></td>
                </tr>
            {% endfor %}

            <tr class="success">
                <th colspan="3">Réductions appliquées à la réservation</th>
                <td><strong>{{ fo.int2prix(entity.getTotalReductions()) }} €</strong></td>
            </tr>

            <tr class="info">
                <th colspan="3">Total de votre séjour</th>
                <td><strong>{{ fo.int2prix(entity.getTotalApresReduction()) }} €</strong></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="tab-pane" id="details">
        {% set sejourReserve = entity.sejourReserve %}
        {% for ar in sejourReserve.appartementsReserves %}
            <h2>{{ ar.appartement.nom }}
                <small>
                    {% for i in 1..(ar.appartement.qualite) %}
                        <span class="glyphicon glyphicon-star"></span>
                    {% endfor %} - {{ ar.nombrePersonnes }} personne(s) -
                    <a href="#" class="prixParPersonne">{{ (ar.getPrix()/100)|number_format() }} €</a>
                </small>
                <div class="pull-right">
                    {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : ar.appartement })) %}
                </div>
            </h2>
            <hr>
            <ul>
                {% for option in ar.optionsReserves %}
                    {% if option.isSelected %}
                        <li>{{ option.getIntitule }} ({{ fo.int2prix(option.prix) }}€)</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% for participant in ar.participants %}
                {% set id = ar.numero~"-"~participant.numero %}
                <h3>Participant n°{{ participant.numero }}</h3>
                <div class="row">
                    <div class="col-sm-8">
                        <dl class="dl-horizontal">
                            <dt>{{ "Nom"|trans }}</dt>
                            <dd>{{ participant.personne.firstName }} {{ participant.personne.lastName }}</dd>
                            <dt>{{ "Email"|trans }}</dt>
                            <dd>{{ participant.personne.email }}</dd>
                            {% if (participant.personne.address.isEmpty == true) %}
                            <dt>{{ "Adresse"|trans }}</dt>
                            <dd>
                                {{ macro.display_address(participant.personne.address) }}
                        </dl>
                        {% endif %}


                    </div>
                    <div class="col-sm-4">
                        <h4>Options</h4>
                        <ul>
                            {% for option in participant.optionsReserves %}
                                {% if option.isSelected %}

                                    <li class="show-hover-content">


                                        {{ option.getIntitule }} ({{ fo.int2prix(option.prix) }}€)
                                        <div class="pull-right ">
                                            <a href="{{ path('public_option_optionreserve_edit', {'id':option.id}) }}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </div>
                                        <div class="pull-right">
                                            {% render(controller("BenskiContentBundle:Link:displayButton", { 'object' : option.option })) %}
                                        </div>

                                    </li>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endfor %}
        {% endfor %}

        <h1>Total</h1>
        <hr>
        <table class="table table-bordered">

            <tbody>
            {% for ar in sejourReserve.appartementsReserves %}
                <tr>
                    <th>{{ ar.appartement.nom }}
                        <small>
                            {% for i in 1..(ar.appartement.qualite) %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </small>
                    </th>
                    <th>Logement</th>
                    <th>Option</th>
                    <th>Total</th>
                </tr>
                {% for participant in ar.participants %}
                    <tr>
                        <td>{{ participant.personne.firstName }} {{ participant.personne.lastName }}</td>
                        <td>{{ fo.int2prix(ar.prix) }} €</td>
                        <td>{{ fo.int2prix(participant.getTotalOptions) }} €</td>
                        <td>{{ fo.int2prix(participant.getTotal) }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Options de groupe</td>
                    <td><strong>{{ fo.int2prix(ar.getTotalOptions()) }} €</strong></td>
                </tr>
                <tr>
                    <td colspan="2">{{ "Prix du pack"|trans }}</td>
                    <td>{{ ar.nombrePersonnes }} x
                        {{ fo.int2prix(ar.packReserve.prix) }} €
                    </td>
                    <td><strong> {{ fo.int2prix(ar.packReserve.getTotal) }} €</strong></td>
                </tr>
                <tr class="active">
                    <td colspan="3">{{ "Sous total"|trans }}</td>
                    <td><strong>{{ fo.int2prix(ar.getTotal()) }} €</strong></td>
                </tr>
            {% endfor %}
            <tr class="success">
                <th colspan="3">Réductions appliquées à la réservation</th>
                <td><strong>{{ fo.int2prix(entity.getTotalReductions()) }} €</strong></td>
            </tr>

            <tr class="info">
                <th colspan="3">{{ "Total de votre séjour"|trans }}</th>
                <td><strong>{{ fo.int2prix(entity.getTotalApresReduction()) }} €</strong></td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="tab-pane" id="reduction">

        <h2>Réductions appliquées à la réservation</h2>
        <hr>
        {% include '@BenskiReservation/Components/list_reductions.html.twig' with {'list':entity.reductions} %}

    </div>

    </div>
    </div>



{% endblock %}

{% block javascripts_content %}
    <script type="text/javascript">
        $(function () {
            $('.prixParPersonne').tooltip({title: 'Les prix sont entendus par personne'});

        });
    </script>
{% endblock %}