{% extends 'BenskiCatalogueBundle:Option/OptionACocher:layout.html.twig' %}

{% block body -%}
    <h1>Option à cocher </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Version</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('option_optionacocher_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>
            <td>{{ ("option.type."~entity.type)|trans }}</td>
                <td>{{ entity.version }}</td>
                <td>{{ entity.published }}</td>
                <td>
                    <div class="btn-group">
                    <a class="btn" href="{{ path('option_optionacocher_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i> show
                    </a>
                    <a class="btn" href="{{ path('option_optionacocher_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil"></i> edit
                    </a>
                    {% render(controller("BenskiContentBundle:Link:displayBindButton", { 'object' : entity })) %}
                </div>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('option_optionacocher_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
