{% extends 'BenskiReservationBundle::public.html.twig' %}
{% import 'BenskiReservationBundle::macro.html.twig' as fo %}

{% set contactUrl = render(controller('BenskiWebsiteBundle:PublicPage:getHref', { 'internalName': 'CONTACT' }))  %}


{% block body %}



<div class="col-sm-12">

    <h2>{{ "confirmation.title"|trans }}</h2>
    <hr>
    <p class="">
        {{ "confirmation.content.1"|trans|format('<a href="%s" >', "</a>")|format(path('fos_user_profile_show'))|raw }}
        <br>
        {{ "confirmation.content.2"|trans|format('<a href="%s" >', "</a>")|format(contactUrl)|raw }}

    </p>
    <br>
    <h2>{{ "payment.title"|trans }}</h2>
    <hr>
    <p class="">
        {{ "payment.content.1"|trans }} <br>
        {{ "payment.content.2"|trans }}
    <p>


    {% for entity in entities %}
    {# entity \Benski\ReservationBundle\Entity\Paiement #}
    <h4>{{ ("payment."~loop.index)|trans }}</h4>
    <dl class="dl-horizontal">
        <dt>{{ "payment.iban.title"|trans }}</dt>
        <dd>{{ "payment.iban.content"|trans }}</dd>
        <dt>{{ "payment.bic.title"|trans }}</dt>
        <dd>{{ "payment.bic.content"|trans }}</dd>
        <dt>{{ "payment.amount"|trans }}</dt>
        <dd>
            {{ entity.montant/100 }} €
        </dd>
        <dt>{{ "payment.communication.title"|trans }}</dt>
        <dd>{{ "payment.communication.content"|trans }}
        {#{{ entity.code }}#}
        </dd>
    </dl>
    {% endfor %}
    <p class="">
        {{ "confirmation.thanks"|trans }}
    <p>
</div>



{% endblock %}

{% block javascripts_content %}
<script type = "text/javascript" >
    $(function() {
        $('.prixParPersonne').tooltip({title: 'Les prix sont entendus par personne'});

    });
</script>
  {% endblock %}