{# empty Twig template #}
{% set sejourReserve = entity.sejourReserve %}


<table class="table table-bordered table-responsive" style="margin-top: 20px">

    <tbody>
        <tr>
            <th>Appartement</th>
            <th>Pack</th>
            <th colspan="3">Participants</th>
        </tr>
        {% for ar in sejourReserve.appartementsReserves %}
        {% set appartement = ar.appartement %}
        {% set countParticipant = (ar.participants|length) %}
        {% set participants = ar.participants %}
        {% set packReserve = ar.packReserve %}
        
        <tr>
        {% if loop.first %}

            <td rowspan="{{ countParticipant }}">
                {{appartement.nom }}
            
                {{ macro.print_stars_bs2(appartement.qualite) }}
            </td>
            <td rowspan="{{ countParticipant }}">
                {{ packReserve.pack.nom }}
           
                {{ macro.print_stars_bs2(packReserve.pack.qualite) }}
            </td>
        {% endif %}
             {% for participant in ar.participants %}
            {% if not loop.first %}<tr>{% endif %}
            <td>
                {{participant.personne.firstName }}
                {{participant.personne.lastName }}
            </td>
            <td>
                {{participant.personne.email }}
            </td>
            <td>
                {{macro.display_address(participant.personne.address) }}
            </td>
            {% if not loop.first %}</tr>{% endif %}
            {% endfor %}
        </tr>


        {% endfor %}
    </tbody>
</table>


